:root {
  --blue-dark: #010d23;
  --blue-medium: #03223f;
  --blue-light: #038bbb;
  --off-white: #f0f0d8;
  --black: #000;
  --yellow-light: #fccb6f;
  --yellow-medium: #e19f41;
}

.container {
  background-color: var(--off-white);
  padding: 2rem;
  text-align: center;
}

.card:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.362);
}

.titulo {
  color: var(--blue-dark);
  margin-bottom: 1.5rem;
  font-weight: bold;
}

.slider {
  margin-bottom: 2rem;
}

.card {
  margin: 0 10px;
  flex-shrink: 0;
  border-radius: 12px;
}

.subtitulo {
  margin-top: 2rem;
  color: var(--blue-dark);
}

.lista {
  list-style: none;
  padding: 0;
  font-weight: 500;
}

:global(.slick-prev),
:global(.slick-next) {
  background-color: var(--blue-light);
  border-radius: 50%;
  width: 32px;
  height: 32px;
  z-index: 2;
}

:global(.slick-prev:hover),
:global(.slick-next:hover) {
  background-color: var(--blue-medium);
}

:global(.slick-prev:before),
:global(.slick-next:before) {
  color: var(--blue-dark) !important;
  font-size: 20px;
}

:global(.slick-prev) {
  left: -10px;
}
:global(.slick-next) {
  right: -10px;
}
